.home_container {
  background-image: linear-gradient(
    rgba(247, 245, 243, 0.699),
    rgba(200, 200, 10, 0.5)
  );
  padding-left: 5px;
}

.plus_container {
  display: inline-flex;
  /* width: 200px; */
  justify-content: flex-end;
  align-items: center;

  background-color: wheat;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  color: whitesmoke;
  overflow: hidden;
}
.plus_container > span {
  cursor: pointer;
  padding: 20px 35px;
  font-size: xx-large;
  background-color: rgba(153, 205, 50, 0.658);
}

.operations_container {
  overflow: hidden;
  /* position: relative; */
}
.operations_container_in {
  margin-top: 15px;
  display: flex;
  width: 200px;
  padding: 20px;
  flex-direction: column;
  background-color: thistle;
  animation: slideOperationsIn 0.5s ease-in forwards;
}
@keyframes slideOperationsIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    /* transform: translateY(-100%); */
    /* max-height: 0; */
  }
  40% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    /* transform: transalateY(0); */
    /* max-height: 100%; */
  }
}
.on_load {
  margin-top: 15px;
  display: flex;
  width: 200px;
  padding: 20px;
  flex-direction: column;
  background-color: thistle;
  transform: translateX(-100%);
}
.operations_container_out {
  margin-top: 15px;
  display: flex;
  width: 200px;
  padding: 20px;
  flex-direction: column;
  background-color: thistle;
  animation: slideOperationsOut 0.5s ease-in forwards;
}
@keyframes slideOperationsOut {
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
  80% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.8;
  }
  0% {
    opacity: 1;
    transform: translateX(0);
  }
}
.operations_container {
  border: 2px solid black;
  width: 60%;
  height: 280px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  margin: auto;
  background-color: white;
  animation: popUpSlide 0.5s ease-in-out forwards;
}

@keyframes popUpSlide {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.close {
  border: 2px solid red;
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
}
.close > span {
  cursor: pointer;
  padding: 10px;
  /* border: 1px solid springgreen; */
  font-size: x-large;
  border-radius: 15px;
  /* margin: 5px; */
  color: rgba(0, 0, 0, 0.4);
}
.close > span:hover {
  color: rgba(0, 0, 0, 1);
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4); */
}

.inputs {
  display: block;
  border: 2px solid silver;
}
